{% extends 'base.html.twig' %}

{% block title %}Log In{% endblock %}

{% block nav %}
    {% include('Security/nav-security.html.twig') %}
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey }}
        </div>
    {% endif %}

    <div class="container formSecurity">
        <form action="{{ path('security_login') }}" method="POST">
            <fieldset>
                <legend class="text-center">Log in</legend>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="_password" class="form-control"/>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                <button type="submit" class="btn btn-primary center">Log in</button>
            </fieldset>
        </form>
    </div>
{% endblock %}

