{% extends "base.html.twig" %}

{% block title %}Restoring page{% endblock %}

{% block nav %}
    {% include('Security/nav-security.html.twig') %}
{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <div class="container formSecurity">
        <legend class="text-center">Enter your email for reset password</legend><br>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary center">Change password!</button>
        {{ form_end(form) }}
    </div>
{% endblock %}