{% extends 'base.html.twig' %}

{% block title %}Create new Quiz{% endblock %}

{% block body %}

    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    <div class="container formSecurity">
        <legend class="text-center">Enter name for your quiz</legend>
        {{ form_start(form) }}
            {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary center">Create this quiz</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

