{% extends 'base.html.twig' %}

{% block title %}{{ quiz.name }}{% endblock %}

{% block body %}
<h1>{{ quiz.name }}</h1>
    {# for question in questions #}
            <tr>
                <td>{# question.id#}</td>
                <td>
                    {# question.text#}
                </td>
            </tr>
        {# endfor #}
<hr>
<a href="/">Go Back</a>
{% endblock %}

